<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
      <th class="col-xs-2">顧客ID</th>
      <td class="col-xs-10"><%= @customer.id %>
      <tr>
          <th>氏名</th><td><%= @customer.name %></td>
      </tr>
      <tr> <th>メールアドレス</th><td><%= @customer.email %></td>
      </tr>
      <div class="row">
          <%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-success" %>
     </div>
  </div>
</div>
